<mat-toolbar class="page-header">
  <pre class="ascii-art">
██████╗  █████╗ ████████╗ █████╗ ███╗   ██╗ ██████╗ ██████╗ ███████╗
██╔══██╗██╔══██╗╚══██╔══╝██╔══██╗████╗  ██║██╔═══██╗██╔══██╗██╔════╝
██║  ██║███████║   ██║   ███████║██╔██╗ ██║██║   ██║██║  ██║█████╗
██║  ██║██╔══██║   ██║   ██╔══██║██║╚██╗██║██║   ██║██║  ██║██╔══╝
██████╔╝██║  ██║   ██║   ██║  ██║██║ ╚████║╚██████╔╝██████╔╝███████╗
╚═════╝ ╚═╝  ╚═╝   ╚═╝   ╚═╝  ╚═╝╚═╝  ╚═══╝ ╚═════╝ ╚═════╝ ╚══════╝
</pre>
  <app-contract-address-config></app-contract-address-config>

</mat-toolbar>
