<div *ngIf="dataBlob !== undefined">

      <mat-card>
        <p>
          data size (bytes): {{dataSize}}
        </p>

        <p>
          meta size (bytes): {{metaSize}}
        </p>

        <p>
          total size (bytes): {{getTotalSize()}}
        </p>

        <p>
          estimated gas: {{estimatedGas}}
        </p>
      </mat-card>

      <mat-card>
        <mat-tab-group>
          <mat-tab label="standard">
            <app-transaction-cost-info [estimatedGas]="estimatedGas" prizeType="standard"></app-transaction-cost-info>
          </mat-tab>

          <mat-tab label="safeLow">
            <app-transaction-cost-info [estimatedGas]="estimatedGas" prizeType="safeLow"></app-transaction-cost-info>
          </mat-tab>

          <mat-tab label="fast">
            <app-transaction-cost-info [estimatedGas]="estimatedGas" prizeType="fast"></app-transaction-cost-info>
          </mat-tab>

          <mat-tab label="fastest">
            <app-transaction-cost-info [estimatedGas]="estimatedGas" prizeType="fastest"></app-transaction-cost-info>
          </mat-tab>

        </mat-tab-group>
      </mat-card>

</div>

