<div>
  <p>
    data size (bytes): {{dataSize}}
  </p>

  <p>
    meta size (bytes): {{metaSize}}
  </p>

  <p>
    total size (bytes): {{getTotalSize()}}
  </p>

  <p>
    estimated gas: {{estimatedGas}}
  </p>

  <p>
    <app-transaction-cost-info [estimatedGas]="estimatedGas" prizeType="standard"></app-transaction-cost-info>
  </p>

  <p>
    <app-transaction-cost-info [estimatedGas]="estimatedGas" prizeType="safeLow"></app-transaction-cost-info>
  </p>

  <p>
    <app-transaction-cost-info [estimatedGas]="estimatedGas" prizeType="fast"></app-transaction-cost-info>
  </p>

  <p>
    <app-transaction-cost-info [estimatedGas]="estimatedGas" prizeType="fastest"></app-transaction-cost-info>
  </p>

</div>

