<div *ngIf="getWeb3State() === WEB3_SERVICE_STATE.NO_WEB3_FOUND">
    <pre>
    Oops! Your browser does not support Ethereum Ðapps.
    Maybe you want to try following extensions / browsers:
      Browser: <a href="https://metamask.io/">MetaMask</a> add-on for Chrome, Firefox, Opera, and the new Brave browser
      Android: <a href="https://play.google.com/store/apps/details?id=org.toshi">Thosi</a>, <a href="https://play.google.com/store/apps/details?id=com.cipherbrowser.cipher">Cipher</a>, <a href="https://play.google.com/store/apps/details?id=com.wallet.crypto.trustapp">Trust</a>
      iOS: <a href="https://itunes.apple.com/us/app/coinbase-wallet/id1278383455?mt=8">Thosi</a>, <a href="https://itunes.apple.com/us/app/cipher-browser-ethereum/id1294572970?mt=8">Cipher</a>, <a href="https://itunes.apple.com/us/app/trust-ethereum-wallet/id1288339409?mt=8">Trust</a>
    </pre>
</div>
