<mat-card>
  <mat-card-header>
    <h3 *ngIf="getTitle()">{{getTitle()}}</h3>
    <a [href]="getEtherScanAdressHref(dataBlock.author)">
      <img src="https://robohash.org/{{dataBlock.author}}.png?size=40x40&bgset=bg2"/>
    </a>
    #{{dataBlock.index}}
  </mat-card-header>

  <mat-card-content>

    <div>
      <ng-template [ngIf]="isText()">
        <app-item-string-data [data]="dataBlock.data"></app-item-string-data>
      </ng-template>
      <ng-template [ngIf]="isImage()">
        <app-item-image-data [data]="dataBlock.data" [dataType]="getDataType()"></app-item-image-data>
      </ng-template>
    </div>


    <div>
      <app-item-blob-data [data]="dataBlock.data" [dataType]="getDataType()"></app-item-blob-data>
    </div>
  </mat-card-content>
</mat-card>


<br/>
