<mat-expansion-panel [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      meta informations
    </mat-panel-title>

  </mat-expansion-panel-header>

  <mat-card [formGroup]="metaInformations.getFormArray()">
    <div *ngFor="let item of metaInformations.getFormArray().controls; let i = index;">
      <p [formGroupName]="i">
        <input formControlName="key" placeholder="key">
        <input formControlName="value" placeholder="value">
      </p>
    </div>
  </mat-card>

</mat-expansion-panel>

