.page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.page-container {
  position: absolute;
  top: 80px;
  bottom: 60px;
  left: 0;
  right: 0;
}

.mat-toolbar-row, .mat-toolbar-single-row{
  height: 80px;
}
