<mat-toolbar class="page-header">
  <pre class="ascii-art">
██████╗  █████╗ ████████╗ █████╗ ███╗   ██╗ ██████╗ ██████╗ ███████╗
██╔══██╗██╔══██╗╚══██╔══╝██╔══██╗████╗  ██║██╔═══██╗██╔══██╗██╔════╝
██║  ██║███████║   ██║   ███████║██╔██╗ ██║██║   ██║██║  ██║█████╗
██║  ██║██╔══██║   ██║   ██╔══██║██║╚██╗██║██║   ██║██║  ██║██╔══╝
██████╔╝██║  ██║   ██║   ██║  ██║██║ ╚████║╚██████╔╝██████╔╝███████╗
╚═════╝ ╚═╝  ╚═╝   ╚═╝   ╚═╝  ╚═╝╚═╝  ╚═══╝ ╚═════╝ ╚═════╝ ╚══════╝
  </pre>
</mat-toolbar>

<div class="page-container">
 <app-no-eth-browser></app-no-eth-browser>


  <mat-sidenav-container *ngIf="getWeb3State() === WEB3_SERVICE_STATE.READY" hasBackdrop="false">

    <mat-sidenav #sidenav mode="side" opened fixedInViewport="true" fixedTopGap="80">
      <mat-tab-group [@.disabled]="true">

        <mat-tab label="text">
          <app-message-input></app-message-input>
        </mat-tab>

        <mat-tab label="file">
          <app-file-input></app-file-input>
        </mat-tab>

      </mat-tab-group>
    </mat-sidenav>

    <mat-sidenav-content>
      <app-transaction-list></app-transaction-list>
    </mat-sidenav-content>

  </mat-sidenav-container>

</div>









